<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  
  <header class="navbar">
    <div class="nav-container">
 <a class="brand" href="{{ '/' | relative_url }}">
<img src="{{ '/technion-logo.png' | relative_url }}" alt="Technion logo">
  <div class="logo">
    <span class="tema">TEMA</span>
    <span class="lab">Lab</span>
  </div>
</a>
      <nav>
        <a href="{{ '/research/' | relative_url }}">Research</a>
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
        <a href="{{ '/team/' | relative_url }}">Team</a>
        <a class="btn" href="{{ '/join/' | relative_url }}">Join Us</a>
      </nav>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
