<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <header class="navbar">
    <div class="nav-container">
 <a class="brand" href="/">
  <img src="/assets/img/technion-logo.png" alt="Technion logo">
  <div class="logo">
    <span class="tema">TEMA</span>
    <span class="lab">Lab</span>
  </div>
</a>
      <nav>
        <a href="/research/">Research</a>
        <a href="/projects/">Projects</a>
        <a href="/team/">Team</a>
        <a class="btn" href="/join/">Join Us</a>
      </nav>
    </div>
  </header>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-content">
      {{ content }}
    </div>
  </section>

</body>
</html>
